
@{
    ViewBag.Title = "AgregarCarrito";
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/compra.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/estiloBotones.css" />
</head>
<h2 class="alinear" style="color:black">Agregar Carrito</h2>

<form hidden >
    <input hidden type="text" id="login" class="fadeIn second" name="direc" placeholder="Direccion" /><br />
    <input hidden type="text" id="login" class="fadeIn second" name="desc" placeholder="Descripcion" />
</form>

<table class="table">
    <thead>
        <tr class="cabecera">
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @{
            double total = 0;
        }
        @if (Session["carrito"] != null)
        {
            foreach (var item in Session["carrito"] as List<ProyectoFarmaciaWeb.Models.CarritoItem>)
            {
                total += (double)(item.Cantidad * item.Producto.Precio_Unitario);
                <tr>
                    @*<td>@item.Producto.Imagen</td>*@
                    <td>@item.Producto.Codigo_Producto</td>
                    <td>@item.Producto.Nombre_Producto</td>
                    <td>Bs. @(item.Producto.Precio_Unitario)</td>
                    <td>@item.Cantidad</td>
                    <td>Bs. @(item.Cantidad * item.Producto.Precio_Unitario)</td>
                    <td>@Html.ActionLink("Eliminar", "Delete", "Carrito", new { Id = item.Producto.Codigo_Producto }, new { @class= "eliminarBoton"})</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr style="color:red">
            <th colspan="4">Total</th>
            <th>Bs. @(total)</th>
        </tr>
    </tfoot>
</table>
<div class="alinear">
    @Html.ActionLink("Seguir comprando", "Index", "Productos", new { @class = "agregarBoton "}) | @Html.ActionLink("Terminar Compra", "FinalizarCompra", "Carrito", new { @class = "terminarCompra "})
</div>
